@page

<form>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="strParam">
    <button type="submit" asp-controller="SampleData" asp-action="Viewer2">Enviar</button>
</form>